@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* ------------------------------ Colors ----------------------------------  
Yellow: #ffd319 | Background grey/blue: #222745 | Dark purple: #452777 | Orange: #ff901f | Bright Purple: #b000ff | Pink: #ff2975
*/
/*----------------------------------------------- General styles ---------------------------------------------------*/
body {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  background-color: #222745;
  color: #ffd319;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.textGlow {
  text-shadow: 
      /* 0 0 2px #ffffff56, */
      /* 0 0 5px #ffffff9c, */ 0 0
      20px #ffffff8c,
    0 0 30px #ffd5191f, 0 0 41px #ffd5194b, 0 0 46px #ffd5191f,
    0 0 51px #ffd51952, 0 0 76px #ffd51975;
}
.flicker:hover {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
.borderGlowTop{
  border-top: 2px solid #7f0fff;
  box-shadow: 0 0 15px #7f0fff;
}
.borderGlowBottom{
  border-bottom: 2px solid #7f0fff;
  box-shadow: 0 0 15px #7f0fff;
}
/*----------------------------------------------- Navbar ---------------------------------------------------*/

/* Based on nav background colour */
/* https://maketintsandshades.com/#452777 */

.nav-link,
.navbar-brand,
.navbar-brand:hover {
  font-size: 24px;
  /* color: #ece9f1; */
  color: #ffd319;
}

.navbar {
  background-color: #452777;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  color: #ffd319;
  font-size: 32px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link:hover {
  color: #ffe575;
}

.navbar-nav .nav-link.active {
  color: #ffeda3;
}



/* Card styling  */
#gameContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.card {
  aspect-ratio: 2/2;
  width: 11.5vw;
  min-width: 110px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 2vw;
  margin-bottom: 0px;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}


/* -------------------------------------------- Game container ---------------------------------------------------*/

#gameContainer {
  height: calc(100vh - 200px) ;

}
#bestof{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  margin: 0;
}
.bestofcard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  text-align: center;
}
  
.item {
  width: 10rem;
}
/* --------------------------------------------- Footer ---------------------------------------------------------*/
footer {
  background-color: #452777;
  /* margin-top: auto; */
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0;
}
footer p {
  margin-bottom: 0px;
}
#teamNames {
  height: 100%;
  width: 100%;
  min-height: 7vh;
}
#teamNames li {
  min-width: 90px;
  max-width: 225px;
  display: inline-block;
}

.devName {
  display: flex;
  font-size: 1.25rem;
  background-color: #222745;
  color: #ffd319;
  text-decoration: none;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 2px solid #8c00ff;
  border-radius: 5px;
  padding-left: 0.25rem;
  box-shadow:0 0 15px #8c00ff;

}
.devName i {
  position: absolute;
}
#teamNames li a span {
  display: inline-block;
  width: 100%;
}

#copyright {
  font-size: 0.6rem;
}
#footer-label {
  font-size: 0.7rem;
  align-self: center;
}

/*------------------------------------------------- Media query overrides ------------------------------*/
@media screen and (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
  
  #gameContainer {
    height: calc(100vh - 170px) ;
    padding-bottom: 2vh;
  }


}

@media screen and (max-width: 564px) {
  #teamNames li {
    min-width: 150px;
    position: relative;
  }
  #teamNames {
    padding-right: 15vw;
    padding-left: 15vw;
  }
 .card{
    margin-bottom: 3vh ;
  }
}
@media screen and (max-width: 448px){
 footer {
  position: relative;
 }
 #gameContainer {
  height: calc(100vh - 200px) ;

}
}


/*----------------------Animations-----------------------------*/
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:   
    /* 0 0 5px #ffffffb2, */
      /* 0 0 5px #ffffff88, */ 0
        0 20px #ffffffb9,
      0 0 30px #ffd5191f, 0 0 41px #ffd5194b, 0 0 46px #ffd51934,
      0 0 51px #ffd51956, 0 0 76px #ffd51980;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
    /* 0 0 4.75px #ffffff88, */
    /* 0 0 4px #ffffff88, */ 0 0
        18px #ffffffb9,
      /* 0 0 28px #ffd5191f, */ 0 0 40px #ffd5194b, 0 0 43px #ffd51957,
      0 0 43px #ffd51973, 0 0 66px #ffd51983;
  }
}
