@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  background-color: #222745;
}

.nav-link,
.navbar-brand {
  font-size: 24px;
  color: #f8f9fa;
}

.navbar {
  background-color: #452777;
}

.navbar-toggler {
  border-color: #f8f9fa;
}
